body{
				padding: 0;
				margin: 0;
				color:#6a6f8c;
				background: url(img/bg1.jpg) no-repeat;
				background-size: cover;
				font:600 16px/18px 'Open Sans',sans-serif
			}

		.hero{
			height: 10vh;
			width: 100%;
			background-image:url(img/bg1.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		nav{
			background: #004650;
			display: flex;
			align-items: center;
			justify-content: space-between ;
			padding-top: 0px;
			padding-left: 10%;
			padding-right: 10%;
		}
		.logo a{
			color: white;
			font-size: 28px ;
			text-decoration: none;
		}
		nav ul li{
			list-style-type: none;
			display: inline-block;
			padding: 10px 20px;
		}
		nav ul li a{
			color: white;
			text-decoration: none;
			font-weight: bold;
		}
		nav ul li a:hover{
			color: #00A180;
			transition: .3s;
		}
		button{
			border: none;
			background: #00A180;
			padding: 12px 30px;
			border-radius: 30px;
			transition: .3s;
		}
		button a{
			text-decoration: none;
			color: white;
			font-weight: bold;
			font-size: 15px;
		}
		.nama{
			position: fixed;
			color: green;
			left: 200px;
		}

.login-wrap{
	width:100%;
	margin: auto;
	max-width:560px;
	min-height:460px;
	position:relative;
	right:0px;
	top: 20px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	
	
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:30px 10px 10px 20px;
	
}

textarea{
	width: 500px;
	height: 100px;
}

.sign-in{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	display:none;
	color: black;
	border-color:#1161ee;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}


.login-form .group .input,
.login-form .group .button{
	width: 500px;
	border:none;
	padding:10px;
	border-radius:0px;
	background:rgba(146, 147, 158,.3);
	}


.login-form .group .label{
	color:black;
	font-size:14px;
}

.login-form .group .button{
	background:#004651;
}
.login-form .group label .icon{
	width:15px;	
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:grey;
}

.login-form .group .input{
	color: black;
}

.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:px;
	display:inline-block;
	border-bottom:2px solid transparent;
	color: black;
}

.foot-lnk{
	text-align:center;
}
.login-form .group .input{
	color: black;
}

.login-form{
	padding-top: 10px;
}

.menu{
	margin-top: 50px;
	text-align: center;
}

.menu ul {
	list-style-type: none;
	display: inline-block;
}

.menu ul li{
	float: left;
	width: 124px;
	height: 140px;
	border-color: green;
}

.container {
  max-width: 1170px;
  margin: auto;
  }

  .footer {
  background-color: #004650;
  padding: 10px;
  
}
.clear{
	color: black;
}

.fixed-footer {
    width: 100%;
    position: relative;
    background: #333;
    margin: 0px 0;
    padding: 10px 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  .fixed-footer {
    bottom: 0;
  }

  .social-media{
  	color: white;
  }

