

body{
	color:#6a6f8c;
	background: url(../img/bg1.jpg) no-repeat center; 
	background-position: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;
	background-size: fixed;
}


.judul{
	color: #004651;
	font-family: aharoni;
	text-shadow: grey;
	font-size: 50px;
}
.judul h3{
	font-size: 30px;
}



.btn1 {
	background: #00A181;
	color: white;
	border-radius: 40px;
	border-color: #00A181;
	height: 200px;
	width: 200px;
	font-family: sans-serif;
	font-size: 22px;
	box-shadow: 1px 1px 1px grey;
	margin-top: 150px;
	margin-left: 100px;
	

}
.btn2 {
	background: #00A181;
	color: white;
	border-radius: 40px;
	border-color: #00A181;
	height: 200px;
	width: 300px;
	font-family: sans-serif;
	font-size: 22px;
	box-shadow: 1px 1px 1px grey;
	margin-top: 100px;
	margin-left: 400px;
	position: fixed;
	

}

.btn3 {
	background: #00A181;
	color: white;
	border-radius: 40px;
	border-color: #00A181;
	height: 200px;
	width: 200px;
	padding: 10px;
	font-family: sans-serif;
	font-size: 22px;
	box-shadow: 1px 1px 1px grey;
	margin-top: -200px;
	margin-left: 730px;
	position: fixed;

	

}

.input-group .btn{
	text-decoration: none;
	display: block;
    width: 100%;
    width: 70px;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #004651;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 380px;
    margin-left: 1100px;
    position: fixed;
}


	

