body{
	color:#6a6f8c;
	background: url(../img/bg1.jpg) no-repeat center fixed;
	font:600 16px/18px 'Open Sans',sans-serif;
	background-size: cover;
}

/*navbar*/
.hero{
		height: 10vh;
		width: 100%;
		background-image:url(img/bg1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
nav{
	background: #004650;
	display: flex;
	align-items: center;
	justify-content: space-between ;
	padding-top: 0px;
	padding-left: 10%;
	padding-right: 10%;
}
.logo a{
	color: white;
	font-size: 28px;
	text-decoration: none;
	padding-right: ;
	text-align: left;
}

button{
		border: none;
		background: #00A180;
		padding: 12px 30px;
		border-radius: 30px;
		transition: .3s;
		}
button a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
}
/*navbar*/

.judul{
	color: #004651;
	font-family: aharoni;
	text-shadow: grey;
	font-size: 50px;
}
.judul h3{
	font-size: 30px;
}
.judul h1 {
	font-size: 18px;
	font-family: initial;
}


.btn1 {
	background: #00A181;
	color: white;
	border-radius: 40px;
	border-color: #00A181;
	height: 200px;
	width: 400px;
	font-family: aharoni;
	font-size: 30px;
	box-shadow: 1px 1px 1px grey;
	margin-top: 50px;
	margin-left: 60px;
	

}
.btn2 {
	background: #00A181;
	color: white;
	border-radius: 40px;
	border-color: #00A181;
	height: 200px;
	width: 400px;
	font-family: aharoni;
	font-size: 30px;
	box-shadow: 1px 1px 1px grey;
	margin-top: 50px;
	margin-left: 80px;
	

}

.input-group .btn{
	text-decoration: none;
	display: block;
    width: 100%;
    width: 70px;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #004651;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 80px;
    margin-left: 850px;
    position: fixed;
}

	

